In [1]:
from Patient import patient
from Record import record

In [2]:
import numpy as np
import pandas as pd

In [3]:
#下面有範例

In [19]:
class main():
    def __init__(self):
        self._patients = np.nan
        self._search_patient = np.nan
        
    #load 資料庫
    def load_data(self):
        patients_input = pd.read_pickle('patients_100.pickle')
        records_input = pd.read_pickle('records_100.pickle')
        inpatients_input = pd.read_pickle('inpatients_100.pickle')
        
        inpatients_input = inpatients_input.drop('HospID',axis = 1)
        inpatients_input['Type'] = 2.0
        records_input['Type'] = records_input['Type'].astype('int64')
        records_input = records_input[records_input['Type']!=2]
        records_input = pd.concat([records_input,inpatients_input])
        records_input = records_input.reset_index(drop='True')
        self._patients = list()
        for row in patients_input.itertuples():
            single_records_df = records_input[records_input['ID']== getattr(row,'ID')]
            single_records = list()
            for rows in single_records_df.itertuples():
                single_records.append(
                    record(
                        getattr(rows,'InDate'),
                        getattr(rows,'Type'),
                        getattr(rows,'Area'),
                        getattr(rows,'TotalDot'),
                        getattr(rows,'ICD9CM'),
                        getattr(rows,'Drug')
                    )
                )
            self._patients.append(
                patient(
                    getattr(row,'ID'),
                    getattr(row,'Gender'),
                    getattr(row,'Birth'),
                    getattr(row,'Death'),
                    single_records
                )
            )
    def set_patient_by_id(self, _id):
        for patient in self._patients:
            if patient._id == _id:
                self._search_patient = patient
                break
    
    def get_patient_personal_data(self):
        out =[[
            self._search_patient._id,
            self._search_patient._gender,
            self._search_patient._birthdate
        ]]
        return out
    
    def get_patient_records(self):
        out = list()
        for record in self._search_patient._records:
            s_out = list()
            s_out.append(record._date)
            s_out.append(record._type)
            s_out.append(record._diseases[0])
            out.append(s_out)
        return out
    
    def get_record_detial(self, _key):
        out = [[
            self._search_patient._id,
            self._search_patient._gender,
            self._search_patient._records[_key]._type,
            self._search_patient._records[_key]._date,
            self._search_patient._records[_key]._diseases,
            self._search_patient._records[_key]._medicine
        ]]
        return out

In [20]:
test = main()

In [21]:
%%time
test.load_data()

                                PatientID  SeqNo     InDate          Area  \
0        0007613eee440aa3145f09e1dfd0865b      0 1998-09-07  TaichungCity
1        0007613eee440aa3145f09e1dfd0865b      1 1999-01-14  TaichungCity
2        0007613eee440aa3145f09e1dfd0865b      2 1999-01-25  TaichungCity
3        0007613eee440aa3145f09e1dfd0865b      3 1999-01-27  TaichungCity
4        0007613eee440aa3145f09e1dfd0865b      4 1999-01-28  TaichungCity
...                                   ...    ...        ...           ...
4109097  a3e40da42bceda3fd5c7b9ea7e10dbb6      1 2013-09-14           NaN
4109098  a3e40da42bceda3fd5c7b9ea7e10dbb6      2 2013-12-10           NaN
4109099  a9f2ae6de2106c49cadf46aeeffb03d6      1 2013-10-15           NaN
4109100  4b577d2feb43ce56afc4f854b461b735      1 2013-11-25           NaN
4109101  23d4793aa20a375d5490fdc1b45b2a7e      1 2013-11-27           NaN

         Type  ApplyDot  TotalDot                         ICD9CM HospSpecItem  \
0         1.0    211151    230151                [410, 410, 413]          NaN
1         1.0     14515     16128                     [682, 785]          NaN
2         0.0        50       325                          [682]          NaN
3         0.0        50       307                          [682]          NaN
4         0.0        50       686                          [682]          NaN
...       ...       ...       ...                            ...          ...
4109097   2.0     14841     16490     [59381, 42731, 4254, 2740]            1
4109098   2.0      1839      2043     [4280, 4254, 59381, 42731]            1
4109099   2.0     25638     25638            [4564, 27800, 4279]            1
4109100   2.0     31041     34490  [5942, 5920, 5921, 591, 4280]            2
4109101   2.0     43827     41966             [2180, 2181, 4019]            1

         AcuteBed  ChronicBed  TotalBed  TranTime TranCode  PartDot   DayDot  \
0             NaN         NaN       NaN       NaN      NaN      NaN      NaN
1             NaN         NaN       NaN       NaN      NaN      NaN      NaN
2             NaN         NaN       NaN       NaN      NaN      NaN      NaN
3             NaN         NaN       NaN       NaN      NaN      NaN      NaN
4             NaN         NaN       NaN       NaN      NaN      NaN      NaN
...           ...         ...       ...       ...      ...      ...      ...
4109097       5.0         0.0       5.0       1.0        3   1649.0   3298.0
4109098       1.0         0.0       1.0       1.0        5    204.0   2043.0
4109099       2.0         0.0       2.0       1.0        3      0.0  12819.0
4109100       2.0         0.0       2.0       1.0        3   3449.0  17245.0
4109101       4.0         0.0       4.0       1.0        3   4197.0  10491.5

           OutDate  InAge                                               Drug
0              NaT    NaN                                                NaN
1              NaT    NaN                                                NaN
2              NaT    NaN                                                NaN
3              NaT    NaN                                                NaN
4              NaT    NaN                                                NaN
...            ...    ...                                                ...
4109097 2013-09-19   30.0  [A040130100, AB367881G0, AC058131G0, AC058131G...
4109098 2013-12-10   30.0                                                NaN
4109099 2013-10-17   48.0  [A005874209, A022223100, A025485209, A04013010...
4109100 2013-11-27   37.0  [A001085277, A005874209, AC058111G0, AC058111G...
4109101 2013-12-01   53.0  [A002801277, A005891209, A009250500, A02680420...

[4109102 rows x 19 columns]

KeyboardInterrupt:

In [22]:
%%time
test_patient_ID = '001bb0fb0274b845fcf167f24548fa0b'
test.set_patient_by_id(test_patient_ID)

Wall time: 0 ns

In [23]:
%%time
out = test.get_patient_personal_data()
pd.DataFrame(out,columns=['id','gender','birthdate'])

Wall time: 0 ns

                                 id gender  birthdate
0  001bb0fb0274b845fcf167f24548fa0b      F 1929-09-01

In [24]:
%%time
out = test.get_patient_records()
pd.DataFrame(out,columns=['date','type','main_disease'])

Wall time: 4.04 ms

          date  type  main_disease
0   1996-09-17   0.0           521
1   1996-09-24   0.0           523
2   1998-06-17   0.0           521
3   1998-10-09   0.0           788
4   1998-10-14   0.0           788
..         ...   ...           ...
494 2013-03-11   0.0           273
495 2013-03-11   1.0           273
496 2013-04-01   0.0           447
497 2013-04-15   1.0           410
498 2013-04-23   1.0           507

[499 rows x 3 columns]

In [ ]:
%%time
#找地0筆record
out =  test.get_record_detial(0)
pd.DataFrame(out,columns=['id','gender','type','date','icd','drug'])

In [8]:
%%time
for i in range(0,100,1):
    continue

Wall time: 0 ns