In [1]:
from Patient import patient
from Record import record
import numpy as np
import pandas as pd

In [158]:
class main():
    def __init__(self):
        self._patients = np.nan
        self._records = np.nan
        self._main_patient = np.nan
        self._main_records= np.nan
    #load 資料庫
    def load_data(self):
        self._patients = pd.read_pickle('../pickle/patients.pickle')
        self._records = pd.read_pickle('../pickle/records_inpatients.pickle')
    def set_patient_by_id(self, _id):
        self._main_patient = self._patients[self._patients['ID']==_id].reset_index(drop='True')
        self._main_records = self._records[self._records['PatientID']==_id].reset_index(drop='True')
    def get_patient_personal_data(self):
        return self._main_patient[['ID','Gender','Birth']].rename(columns={'ID':'id','Gender':'gender','Birth':'birthdate'})
    def get_patient_records(self):
        out = self._main_records[['InDate','Type','ICD9CM']].rename(columns={'InDate':'date','Type':'type','ICD9CM':'main_disease'})
        out['main_disease'] = out['main_disease'].apply(lambda x: x[0])
        return out
    def get_record_detial(self, _key):
        out_record = self._main_records[_key:_key+1]
        out_record = out_record[['Type','InDate','ICD9CM','Drug']]
        out_record = out_record.rename(columns={'InDate':'date','Type':'type','Drug':'drug','ICD9CM':'icd'})
        out_patient = self._main_patient[['ID','Gender']].rename(columns={'ID':'id','Gender':'gender'})
        out = pd.concat([out_patient,out_record],axis = 1)
        return out

In [159]:
test = main()

In [160]:
%%time
test.load_data()

Wall time: 5.4 s

In [161]:
%%time
test_patient_ID = '0289fa521acd624fbc4faf038537b1ee'
test.set_patient_by_id(test_patient_ID)

Wall time: 256 ms

In [162]:
%%time
test.get_patient_personal_data()

Wall time: 2.99 ms

                                 id gender  birthdate
0  0289fa521acd624fbc4faf038537b1ee      M 1963-03-01

In [163]:
%%time
test.get_patient_records()

Wall time: 2.96 ms

         date  type  main_disease
0  2001-04-04   0.0           784
1  2001-04-06   0.0           461
2  2001-05-24   0.0           845
3  2013-04-27   0.0           883
4  2013-04-29   0.0           883
5  2013-09-23   0.0           786
6  2013-09-24   1.0           410
7  2013-10-03   0.0           414
8  2013-10-24   0.0           414
9  2013-11-21   0.0           414
10 2013-12-19   0.0           414

In [164]:
%%time
#找地0筆record
test.get_record_detial(0)

Wall time: 11 ms

,id,gender,type,date,icd,drug
0,0289fa521acd624fbc4faf038537b1ee,M,0.0,2001-04-04,"[784, 463, 466]",NaN