In [1]:
from Patient import patient
from Record import record

In [2]:
import numpy as np
import pandas as pd

In [3]:
#下面有範例

In [4]:
class main():
    def __init__(self):
        self._patients = np.nan
        self._search_patient = np.nan
        
    #load 資料庫
    def load_data(self):
        patients_input = pd.read_pickle('patients_100.pickle')
        records_input = pd.read_pickle('records_100.pickle')
        inpatients_input = pd.read_pickle('inpatients_100.pickle')
        
        inpatients_input = inpatients_input.drop('HospID',axis = 1)
        inpatients_input['Type'] = 2.0
        records_input['Type'] = records_input['Type'].astype('int64')
        records_input = records_input[records_input['Type']!=2]
        records_input = pd.concat([records_input,inpatients_input])
        records_input = records_input.reset_index(drop='True')
        self._patients = list()
        for row in patients_input.itertuples():
            single_records_df = records_input[records_input['ID']== getattr(row,'ID')]
            single_records = list()
            for rows in single_records_df.itertuples():
                single_records.append(
                    record(
                        getattr(rows,'InDate'),
                        getattr(rows,'Type'),
                        getattr(rows,'Area'),
                        getattr(rows,'TotalDot'),
                        getattr(rows,'ICD9CM'),
                        getattr(rows,'Drug')
                    )
                )
            self._patients.append(
                patient(
                    getattr(row,'ID'),
                    getattr(row,'Gender'),
                    getattr(row,'Birth'),
                    getattr(row,'Death'),
                    single_records
                )
            )
    def set_patient_by_id(self, _id):
        for patient in self._patients:
            if patient._id == _id:
                self._search_patient = patient
                break
    
    def get_patient_personal_data(self):
        return self._search_patient._id, self._search_patient._gender, self._search_patient._birthdate
    
    def get_patient_records(self):
        out = list()
        for record in self._search_patient._records:
            s_out = list()
            s_out.append(record._date)
            s_out.append(record._type)
            s_out.append(record._diseases[0])
            out.append(s_out)
        return out
    
    def get_record_detial(self, _key):
        out = [[
            self._search_patient._id,
            self._search_patient._gender,
            self._search_patient._records[_key]._type,
            self._search_patient._records[_key]._date,
            self._search_patient._records[_key]._diseases,
            self._search_patient._records[_key]._medicine
        ]]
        return out

In [5]:
test = main()

In [6]:
%%time
test.load_data()

Wall time: 872 ms

In [7]:
%%time
test_patient_ID = '0289fa521acd624fbc4faf038537b1ee'
test.set_patient_by_id(test_patient_ID)

Wall time: 0 ns

In [8]:
%%time
s_id,s_gender,s_birthdate = test.get_patient_personal_data()

Wall time: 0 ns

In [9]:
%%time
out = test.get_patient_records()
pd.DataFrame(out,columns=['date','type','main_disease'])

Wall time: 3.96 ms

         date  type  main_disease
0  2001-04-04   0.0           784
1  2001-04-06   0.0           461
2  2001-05-24   0.0           845
3  2013-04-27   0.0           883
4  2013-04-29   0.0           883
5  2013-09-23   0.0           786
6  2013-09-24   1.0           410
7  2013-10-03   0.0           414
8  2013-10-24   0.0           414
9  2013-11-21   0.0           414
10 2013-12-19   0.0           414

In [10]:
%%time
#找地0筆record
out =  test.get_record_detial(0)
pd.DataFrame(out,columns=['id','gender','type','date','icd','drug'])

Wall time: 0 ns

,id,gender,type,date,icd,drug
0,0289fa521acd624fbc4faf038537b1ee,M,0.0,2001-04-04,"[784, 463, 466]",NaN